<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
</head>
<body>
<div class="row">
    <div class="col text-center">
        <h1>Welcome to the CIFAR-10 img classifier</h1>
    </div>
</div>
<div class="col">
    <div class="row">
        <img height="150" width="150" src="/{{mySampleX[0]}}" class="img-thumbnail"/>
            <div class="col">
                <h4>{{ myX[0] }}</h4>
            </div>
    </div>
    <div class="row">
        <img height="150" width="150" src="/{{mySampleX[1]}}" class="img-thumbnail"/>
        <div class="col">
            <h4>{{ myX[1] }}</h4>
        </div>
    </div>
    <div class="row">
        <img height="150" width="150" src="/{{mySampleX[2]}}" class="img-thumbnail"/>
        <div class="col">
            <h4>{{ myX[2] }}</h4>
        </div>
    </div>
    <div class="row">
        <img height="150" width="150" src="/{{mySampleX[3]}}" class="img-thumbnail"/>
        <div class="col">
            <h4>{{ myX[3] }}</h4>
        </div>
    </div>
    <div class="row">
        <img height="150" width="150" src="/{{mySampleX[4]}}" class="img-thumbnail"/>
        <div class="col">
            <h4>{{ myX[4] }}</h4>
        </div>
    </div>
    <div class="row">
        <img height="150" width="150" src="/{{mySampleX[5]}}" class="img-thumbnail"/>
        <div class="col">
            <h4>{{ myX[5] }}</h4>
        </div>
    </div>
    <div class="row">
        <img height="150" width="150" src="/{{mySampleX[6]}}" class="img-thumbnail"/>
        <div class="col">
            <h4>{{ myX[6] }}</h4>
        </div>
    </div>
    <div class="row">
        <img height="150" width="150" src="/{{mySampleX[7]}}" class="img-thumbnail"/>
        <div class="col">
            <h4>{{ myX[7] }}</h4>
        </div>
    </div>
    <div class="row">
        <img height="150" width="150" src="/{{mySampleX[8]}}" class="img-thumbnail"/>
        <div class="col">
            <h4>{{ myX[8] }}</h4>
        </div>
    </div>
    <div class="row">
        <img height="150" width="150" src="/{{mySampleX[9]}}" class="img-thumbnail"/>
        <div class="col">
            <h4>{{ myX[9] }}</h4>
        </div>
    </div>
</div>
 <!-- upload files for classification -->
<div class="col">
    <div class="row">
        <h4>Upload new File</h4>
    </div>
    <div class="row">
        <ul class=flashes>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <li>Filename: {{ messages[2]}}</li>
            <li>Label: {{ messages[0] }} </li>
            <li>Accuracy: {{ messages[1] }}</li>
            {% endif %}
            {% endwith %}
        </ul>
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>

</div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>